.About {
  width: 500px;;
  height: 500px;;
  border: 1px solid black;
  text-align: center;
  margin: auto;
}

h1 {
  text-align: center;
}

h2, p {
  text-align: left;
  margin-left: 50px;
}

p {
  width: 250px;
  height: 120px;
}

